.App {
  font-family: sans-serif;
  text-align: center;
}
h2 {
  text-align: start;
}

.primary {
  background-color: blue;
}

.secondary {
  background-color: green;
}

.danger {
  background-color: red;
}

.small {
  font-size: 30px;
}

.medium {
  font-size: 50px;
}

.large {
  font-size: 70px;
}
